@use "/Style/GlobalStyle/main" as bp;

.cards {
  flex: 0 0 10.8em;
  height: 16em;
  z-index: 0;
  overflow: hidden;
  transition: scale 0.5s;

  position: relative;
  box-shadow: 0 0 6px 1px #000000e6;

  display: block;
  @include bp.breakpoint(365px) {
    flex: 0 0 46vw;
  }

  &:hover {
    img {
      scale: 1.2;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 600ms ease-in-out;
    z-index: 1;
    scale: 1.05;
  }
  .type {
    position: absolute;
    color: white;
    top: 0.4em;
    left: 0.4em;
    text-align: left;
    background: #ad0ea3;
    padding: 0.5em 1.2em;
    font-size: 0.68em;
    z-index: 2;
    letter-spacing: 0.2em;
    box-shadow: 0 0 5px #000000f2;
    transition: all 500ms ease-in-out;
  }
  .details {
    height: 3.4em;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 600ms ease-out;
    &::before {
      content: "";
      width: 100%;
      height: 110%;
      position: absolute;
      top: 0;
      background: #1a1a2690;
      backdrop-filter: blur(5px);
      z-index: -1;
    }
    h5 {
      text-align: start;
      width: auto;
      margin-left: 0.4em;
      &:nth-child(1) {
        font-size: 1.05em;
        // padding: 0.5em 0;
        padding-right: 1em !important;
        padding-bottom: 0.15em !important;
        color: white;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &:nth-child(2) {
        font-size: 0.76em;
        letter-spacing: 2px;
        margin-left: 0.53em;
        color: #c6c6c9;
      }
    }
  }
}
