.head-main-container {
  width: 100%;
  z-index: -1;
  height: auto;
  margin-top: -50px;
  display: flex;
  flex-direction: column;

  h3 {
    color: white;
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-size: clamp(1.8em, 3.1vw, 5vw);
  }
  .inner-content {
    width: 85%;
    margin: 0 auto;
    margin-top: 10em;

    gap: 1%;

    display: flex;
    justify-content: center;
    top: 120px;

    h1 {
      font-size: clamp(5.5vw, 7.5em, 10.5vw);
      &:nth-child(1) {
        color: #66fcf1;
        position: relative;
      }
      &:nth-child(2) {
        margin-top: 1em;
        color: transparent;
        font-family: "Luckiest Guy", cursive;
        background-image: linear-gradient(
          45deg,
          #663dff 20%,
          #aa00ff 37%,
          #cc4499 57%,
          #ffc3a0 90%
        );
        overflow: hidden;
        background-size: 600% 600%;
        animation-name: anime-grad;
        animation-duration: 17s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        background-clip: text;
      }
      .ball {
        position: absolute;
        width: clamp(1.4vw, 1rem, 2vw);
        height: clamp(1.4vw, 1rem, 2vw);
        background: yellow;
        left: 47.36%;
        transform: translateX(-50%);
        border-radius: 50%;
        top: 0;
        animation: circle-anime 1.5s linear infinite;
      }
    }
  }
}

@keyframes circle-anime {
  25% {
    top: 0.09em;
  }

  50% {
    top: 0;
  }
  75% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@keyframes anime-grad {
  0% {
    background-position: 20% 0;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 20% 0%;
  }
}
