*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar
{
    width: 0.6em;
}
::-webkit-scrollbar-track
{
    background: #1f2833;
    
}
::-webkit-scrollbar-thumb
{
    background: #990011FF;
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover
{
    background: rgb(224, 119, 131);
    border: 3px solid transparent;
    background-clip: content-box;
}
#root
{
    width: 100%;
    min-height: 100vh;
   
    z-index: -3;
    background: #1f2833;
    overflow: hidden;
    
}
.container1
{
    height: 95vh;
   position: relative;
    z-index: 1;
  
   
}




.main-container
{

   flex:  0 0 50em;
   min-height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transform: scaleY(0.85);
   gap: 0.4em;

}

.main-container .title1
{
    
   
    
    color: white;
    font-size: 5.0em;
   
    display: inline-block;
    text-align: center;
    animation-name: textanim;
    animation-duration: 0.5s;
    
}
.title1-toggle
{
    top: 45%;
}
.title1 span:nth-child(1)
{
    color: #E94B3CFF;
    position: relative;
    
}

.title1 span:nth-child(2)
{
    color: #FEE715FF;
}

@keyframes textanim
{
    0%{
        letter-spacing: -7px;
    }
    100%{
        letter-spacing: 0px;
    }
}



.main-container .info1{
    
    color: white;
    font-size: 1.5em;
    
    display: inline-block;
    text-align: center;
    animation-name: infoanim;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes infoanim
{
    0%{
        transform: translate(0,-20px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

.info1-toggle
{
    top: 50%;
}
.main-container .wrapper
{
    

    min-height: 100px;
    width: 25em;
    overflow: hidden;
    animation-name:wrapperanime ;
    animation-duration: 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(20px);
    
}
.wrapper-toggle
{
    top: 59%;
}
@keyframes wrapperanime
{
    0%
    {
        overflow: hidden;

    }
    100%
    {
        overflow: visible;
        
    }
}

.search-cover
{
   background: orange;
    width: 100%;
    position: absolute;
    left: 102%;
    height: 40px;
    animation-name:anime-search-cover ;
    animation-duration: 0.45s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    transform: skew(-10deg,0);

}
@keyframes anime-search-cover
{
    0%
    {
        width: 100%;
        left: 102%;
    }
    50%
    {
        width: 100%;
        left: 0;
    }
    100%
    {
        width: 0;
        left: 0;
    }
}


 #search
{
    width: 100%;
    height: 35px;
   
    font-size: 1.2em;
    padding-left: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid orange;
    background: transparent;
    color: white;
    opacity: 0;
    animation-name:searchbaranime ;
    animation-duration: 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transition:  border 0.4s;
}
@keyframes searchbaranime
{
    0%
    {
        opacity: 0;

    }
    100%
    {
        opacity: 1;
        
    }
}

 #search::placeholder
{
    font-size: 18px;
    color: pink;
    opacity: 0.75;
}


 .wrapper .search-result-container
{
   
    height: 270px;
    width: 100%;
    transform: translateY(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    overflow: visible;
    background: rgba(43, 43, 136, 0.434);
}
.search-result-container .loading
{
    position: absolute;
    top: 50%;
    transform: translate(0 ,-50%);
}
.wrapper .search-result-container-toggle
{
    height: 0;
    overflow: hidden;
}
 .wrapper .search-result-container .search-result
{
    width: 100%;
  
    background: rgb(6, 6, 106);
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: 4px 0; */
    
}
.wrapper .search-result-container .link
{
   
    width: 100%;
}
 .wrapper .search-result-container .search-result .img-container
{
    width: 70px;
    height: 100%;
    
    overflow: hidden;
}
 .wrapper .search-result-container .search-result .img-container img{
    width: 100%;
    height: 130%;

}
.wrapper .search-result-container .search-result h5{
    color: white;
    text-align: center;
    
    margin: 0 auto;
    padding: 5% 0;
}


footer ul li:hover a{
   font-size: 20px;
}



.wrapper .search-result-container .search-result:hover
{
    height: 100px;
    transform: scale(1.1,1.1);
}
 .wrapper .search-result-container .search-result:hover .img-container
{
    width: 90px;
    overflow: visible;
}
.wrapper .search-result-container .search-result:hover .img-container img
{
    height: 102%;
}



@media screen and (max-width:700px) {
   
    .main-container .title1
    {
      font-size: 11vw;
    }
    .main-container .info1
    {
      font-size: 3.67vw;
    }
    .main-container .wrapper 
    {
        display: flex;
        flex-direction: column;
        width: 75vw;
        align-items: center;
    }
    .wrapper .seacrhbtn
    {
        transform: translate(0 ,20px);
    }
}