


.errormessage
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 22em;
    text-align: center;
}

.errormessage h2
{
    color: white;
}
.errormessage h2:nth-child(1)
{
    font-size: 5em;
}
.errormessage p
{
    color: white;
   
}
.errormessage p button
{
    border: none;
    outline: none;
    background: transparent;
    color: yellow;
    cursor: pointer;
}