@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.genre-first
{
   
    width: 100%;
    top: 230px;
    min-height: 340px;
    position: relative;
    display: flex;
    align-items: center;
   
    
}
.genre-first .item
{

    height: 240px;
    width: 55%;
    position: absolute;
    right: 30px;

}
.genre-first h2{
    
   font-size: 13.4em;
    line-height: 1em;
  
   color: rgba(0, 0, 0, 0.171);
  left: 4%;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 30px;
   position: relative;
   top: -0.7em;
 
   
}
.genre-first h2 span
{
    font-size: clamp(0.85rem,6vw,9rem);
    /* line-height: 0em; */
    color: black;
    letter-spacing: 0px;
    display: block;
    line-height: 2em;
}

.wrapper-type
{
  
    position: absolute;
    right: 50px;
    bottom: 7em;
   
}
.wrapper-type h4{
    text-align: center;
}
.wrapper-type .genre-display
{
   
    width: 175px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    padding: 3px 10px;
    font-weight: 600;
   
}
.wrapper-type .genre-display::placeholder
{
    color: black;
}
.wrapper-input
{
    margin-top: 20px;
    position: relative;
  
}
.wrapper-input ion-icon
{
    position: absolute;
    top: 50%;
    right: 10px;
   
    font-size: 1.1em;
    transform: translateY(-50%);
    transition: transform 300ms;
}
.wrapper-input.active ion-icon
{
 
    transform: translateY(-50%) rotateZ(-180deg);
}
.wrapper-input .option
{
    background: white;
    margin-top: 11px;
    border-radius: 8px;
    overflow-y: scroll;
    box-shadow: 0 0 20px rgba(0,0,0,0.21);
   position: absolute;
    width: 100%;
    height: 160px;
    display: none;
}
.wrapper-input .option.active
{
    display: block;
}
.wrapper-input .option::-webkit-scrollbar-track
{
    background: transparent;
}
.wrapper-input .option::-webkit-scrollbar-thumb
{
    border: none;
    border-radius: 10px;
}
.wrapper-input .option::-webkit-scrollbar
{
   width: 0.45em;
}
.wrapper-input .option div 
{
    padding: 12px 16px;
    user-select: none;
   
}
.wrapper-input .option div:hover
{
    background: violet;
}
.wrapper-input .option div h4{
    font-size: 0.84em;
    text-align: start;
}


@media screen and (max-width:900px) {
    .genre-first
    {
        flex-direction: column;
        top: 160px;
        border: 2px solid red;
       
    }
    .genre-first .item
    {
        width: 87%;
        position:static;
        margin-top: -20px;
    }
    .genre-first h2
    {
        font-size: clamp(0.5em,20vw,26vw);
       left: 0;
       top: -0.5em;
    }
    .wrapper-type{
        bottom: 3em;
    }
  
}

@media screen and (max-width:530px) {
    .genre-first h2
    {
       
       letter-spacing: 20px;
       text-align: center;
    }
}