.spinner-container
{
    /* border: 2px solid red; */
    position: absolute;
    z-index: 10;
    width: 7.5em;
    display: flex;
    height: 6em;
    align-items: center;
    gap: 7%;
   /* margin: 0 auto; */
   /* margin-top: 50%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}
.spinner-container .dot
{
    /* border: 2px solid greenyellow; */
    flex: 0 0 0.76em;
    height: 0.76em;
    border-radius: 50%;
    transform: translateY(0);
    animation: loading-spinner 3.4s linear calc(var(--i)*0.5s) infinite reverse;
    opacity: 0;
    background: var(--color);
}

@keyframes loading-spinner
{
    75%{
        opacity: 1;
        box-shadow: 0 0 40px var(--color);
    }
    80%
    {
        opacity: 0;
    }
    100%
    {
        
        box-shadow: none;
    }
}

/* .spinner-container .dot:nth-child(1)
{
    border:2px solid #fc4445;
}

.spinner-container .dot:nth-child(3)
{
    border:2px solid #66fcf1;
}
.spinner-container .dot:nth-child(4)
{
    border:2px solid #edb7c7;
}
.spinner-container .dot:nth-child(5)
{
    border:2px solid #ffe400;
} */



