@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header
{
    text-align: center;
    
    margin-top: 23vh;
    margin-bottom: 90px;
    font-size: 30px;
    color:  white;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    /* border: 2px solid red; */
}
.clr-btn
{
    display: block;
    position: relative;
    left: 75%;
    top: -20px;
    border: none;
    outline: none;
    width: 89px;
    height: 25px;
    border-radius: 3px;
    background: #E94B3CFF;
    color: white;
    text-align: center;
    font-size: 0.85em;
    padding: 5px;
    transition: 0.2s;
    overflow: hidden;
}
.clr-btn span
{
    position: absolute;
   width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.2s ease-out;
}
.clr-btn span:nth-child(1)
{
    left:-100%;
}

.clr-btn:hover
{
   
    background: #990011FF;
}
.clr-btn:hover span:nth-child(1)
{
   left: 12%;
}
.clr-btn:hover span:nth-child(2)
{
   left: 55%;
}
.header::before
{
    content: "";
    position: absolute;
    width: 102%;
    height: 4px;
    background:rgba(255, 255, 8, 0.973);
    bottom: 0;
    left: 0;
    right: 0;
}
.search-container
{
    /* border: 2px solid red; */
    width: 89%;
    
    min-height: 300px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 auto;
    background: #FEE715FF;
    gap: 10px;
    /* box-shadow: 0px 0 1px 0px rgba(245, 245, 12, 0.767); */
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
.search-container::after
{
    content: "";
    position: absolute;
    width: 15px;
    background:#FEE715FF;
    height: 100%;
    right: -15px;
    transform: skew(0 ,50deg);
    z-index: -1;
    top: 9px;
}
.search-container::before
{
    content: "";
    position: absolute;
    width: 100%;
    background:rgb(105, 96, 15);
    height: 15px;
    bottom: -16px;
    transform:  skew(45deg ,0) ;
    /* z-index: -1; */
    left: 7.9px;
}
.search-container .items-container
{
    width: 100%;
}

.search-container li{
    /* border: 2px solid red; */
    height: 100px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    display: flex;
    align-items: center;
   justify-content: center;
    color: white;
    background-size: 600% 600%;
    overflow: hidden;
    transition: all 0.2s;
    width: 100%;
}
.search-container li .img-container
{
    width: 85px;
    height: 100%;

}
.search-container li .img-container img{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
.search-container li:hover 
{
    transform: scale(1.05,1.05);
    filter: drop-shadow( 0 0 2px white);
    transform: skew(-10deg,0) translateX(-10px);
    filter: drop-shadow(10px 5px 9px rgba(0,0,0,0.5));
    cursor: pointer;
}


.search-container li .details
{
   
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-size: 600% 600%;
    position: relative;
    gap: 140px;
}
.search-container li .details .title
{
  width: 45%;
  margin-left: 3%;
  
  
}
.search-container li .details .stats
{
    display:  flex;
    justify-content: center;
   
    
}
.search-container li .details .stats h4{
    width: 100px;

    text-align: center;
}
.search-container li:hover .details
{
    animation-name:anime-list-item ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

.empty
{
    font-size: 1.2em;
   position: relative;
    
 text-align: center;

   
   
}



@keyframes anime-list-item
{
    0%
    {
        
        background-position: 10% 0%;
    }
    50%
    {
       
        background-position: 50% 90%;
    }
    100%
    {
       
        background-position: 10% 0%;
    }
  
   
}

@media screen and (max-width : 800px){
    .search-container li .details
    {
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
    .search-container li .details .title
    {
      text-align: center;
        height: 30px;
       
    }
}
@media screen and (max-width : 450px){
    .search-container li .img-container
    {
        width: 120px;
        height: 100%;
    
    }
    .search-container li .details
    {
      width: 400px;

      font-size: 2.9vw;
    }
    .search-container li .details .title
    {
      text-align: center;
        height: 30px;
        width: 200px;
    }
    .search-container li .details .stats h4{
        width: 70px;
        
    }
}
