
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*::placeholder{
    opacity: 0.6;
    font-size: 0.86em;
}
.container{
    /* border: 2px solid red; */
    height: calc(100vh - 50px) ;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.child-container{
    /* border: 2px solid yellow; */
    width: 23em;
    height: 31em;
    position: relative;
    /* margin: 0 auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin-top: 80px; */
    overflow: hidden;
    background: linear-gradient(65deg, rgb(232, 234, 243) 55%,white);
    border-radius: 0.5em;
}

.child-inner-container{
    /* border: 2px solid rgb(20, 207, 20); */
     width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,23em);
    gap: 2em;
    position: relative;
    left: 0;
    transition: left 300ms ease;
}
.signin-container, .newuser-container{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 0.9em; */
   
   
}
:is(.signin-container, .newuser-container) h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    transform: translateY(-1em);
}
:is(.signin-container, .newuser-container) h4 .change{
  border: none;
  outline: none;
  background: rgb(74, 68, 255);
  color: white;
  padding:0.4em 0.7em;
  border-radius: 0.4em;
  cursor: pointer;
}
#email,#pwd,#name{
    outline: none;
    border: 2px solid black;
    width: 14em;
    height: 30px;
    padding: 1.1em 1em;
    padding-right: 1.4em;
    font-size: 1.24em;
    border-radius: 0.3em;
    background: transparent;
    font-weight: 400;
    margin: 0.5em 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.error-message{
    font-size: 0.86em;
    color: red;
   
}
.pwd-contianer{
    position: relative;
}
.pwd-contianer button{
    border: 4px solid red;
   position: absolute;
   right: 0.3em;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   border: none;
   outline: none;
   height: 77%;
  
}
.pwd-contianer button ion-icon{
    position: absolute;
   
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    opacity: 0.4;
   font-size: 1.35em;
   cursor: pointer;
 }


:is(#email,#pwd,#name):focus {
    border: 2px solid rgb(31, 193, 31);
}


.submit-btn{
    display: block;
    outline: none;
    border: none;
    width: 11em;
    height: 40px;
   
    font-size: 1.04em;
    border-radius: 0.5em;
    text-align: center;
    background: #50d05d;
    color: white;
    cursor: pointer;
    transition: transform 300ms ease;
    transform: translateY(0);
    margin: 0.8em 0;
}
.submit-btn:hover{
    transform: translateY(-0.2em);
}