@use "/Style/GlobalStyle/main" as m;

.container {
  height: calc(100vh - 4.5em);
  position: absolute;
  width: 100%;

  background: #2e2e2e;
  display: flex;

  @include m.breakpoint(768px) {
    width: 100%;
    flex-direction: column-reverse;
  }

  & *::placeholder {
    opacity: 0.6;
    font-size: 0.86em;
  }
  .signup-background-container {
    overflow: hidden;
    width: calc(100% - 30em);
    background-image: url("/LoginBackground6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px;
    padding-left: 4em;
    padding-top: 3em;

    @include m.breakpoint(768px) {
      overflow: hidden;
      width: auto;

      background-position: center;
      background-repeat: no-repeat;
      background-size: 900px;
      padding: 0;
      height: 30vh;
    }

    h1 {
      color: white;
      font-family: "Open Sans", sans-serif;
      max-width: 10em;
      font-size: 3.2em;
    }

    p {
      color: #e2e1e1;
      font-family: "Open Sans", sans-serif;
      max-width: 20em;
      margin-top: 2em;
      line-height: 1.3rem;
    }
  }
  .child-container {
    height: 100%;
    background-color: var(--bg-primary);

    flex: 0 0 30em;
    overflow: hidden;

    @include m.breakpoint(768px) {
      height: 70vh;
      flex: 0 0 auto;
    }

    .child-inner-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 100%);
      gap: 2em;
      position: relative;
      left: 0;
      transition: left 300ms ease;
      .signin-container,
      .newuser-container {
        width: 73%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        h2 {
          font-family: "Montserrat", sans-serif;
          text-transform: capitalize;
          position: absolute;
          top: 2em;
          min-width: 13em;
          text-align: center;
          color: white;
        }
        h4 {
          color: white;
          position: absolute;
          bottom: 2.5em;
          min-width: 13em;
          text-align: center;
          font-weight: lighter;
          .change {
            border: none;
            outline: none;
            background: #635eff;
            color: white;
            padding: 0.4em 0.7em;
            border-radius: 0.4em;
            cursor: pointer;
            margin-left: 0.5em;
            min-width: 3em;
          }
        }
        .error-message {
          font-size: 0.86em;
          color: red;
        }
        input {
          outline: none;
          border: none;
          border-bottom: 3px solid #8e268e;
          width: 100%;
          height: 30px;
          padding: 1.1em 1em;
          padding-right: 1.4em;
          font-size: 1.24em;
          color: white !important;
          background-color: transparent !important;
          font-weight: 400;
          margin: 0.5em 0;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

          &::placeholder {
            color: lightgray;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:focus {
            color: white !important;
            transition: background-color 600000s 0s, color 600000s 0s;
          }
          &:focus {
            border: none;
            border-bottom: 3px solid #1fc11f;
            transition: 600ms ease-out;
          }
        }
      }

      .pwd-contianer {
        position: relative;
        width: 100%;

        button {
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          border: none;
          outline: none;
          height: 77%;
          ion-icon {
            position: absolute;
            color: white;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            opacity: 0.7;
            font-size: 1.55em;
            cursor: pointer;
          }
        }
      }

      .submit-btn {
        display: block;
        outline: none;
        border: none;
        width: 11em;
        height: 40px;

        font-size: 1.04em;
        border-radius: 0.5em;
        text-align: center;
        background: #50d05d;
        color: white;
        cursor: pointer;
        transition: transform 300ms ease;
        transform: translateY(1em);
        margin: 0.8em 0;
      }
    }
  }
}

.child-container {
}
