@use "/Style/GlobalStyle/main" as m;

.container-topsection {
  position: relative;
  top: -1em;
  overflow: hidden;
  .section {
    height: m.$height-extra * 4.4;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(3) {
      background-color: m.$cl-blue-dark;
    }
    &:nth-child(4) {
      background-color: m.$cl-blue-violet-dark;
    }

    .custom-shape-divider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      svg {
        position: relative;
        display: block;

        .shape-path-1 {
          fill: m.$cl-blue-dark;
        }
        .shape-path-2 {
          fill: m.$cl-blue-violet-dark;
        }
      }
    }

    .anime-character {
      position: absolute;

      &.character-1 {
        right: -8em;
        bottom: 13em;

        img {
          scale: 1.6;
          opacity: 0.25;
        }
      }
      &.character-2 {
        left: 2em;
        bottom: -19em;
        z-index: 1;

        img {
          scale: 1.35;
        }
      }
    }
  }

  .section-4 {
    height: m.$height-extra * 3.4;
    position: relative;
  }

  .section-5 {
    background: #9d8d8f;
    min-height: 47em;
    height: auto;
    display: block;
  }
}

.custom-shape-divider-bottom-1668163489 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 106px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1668170175 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 70px;
}
