.genre-first {
  width: 100%;
  top: 230px;
  min-height: 340px;
  position: relative;
  display: flex;
  align-items: center;
}
.genre-first .item {
  height: 240px;
  width: 55%;
  position: absolute;
  right: 30px;
}
.genre-first h2 {
  font-size: 13.4em;
  line-height: 1em;

  color: rgba(0, 0, 0, 0.171);
  left: 4%;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 30px;
  position: relative;
  top: -0.7em;
}
.genre-first h2 span {
  font-size: clamp(0.85rem, 6vw, 9rem);

  color: black;
  letter-spacing: 0px;
  display: block;
  line-height: 2em;
}

.wrapper-type {
  position: absolute;
  right: 50px;
  bottom: 7em;
}
.wrapper-type h4 {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .genre-first {
    flex-direction: column;
    top: 160px;
  }
  .genre-first .item {
    width: 87%;
    position: static;
    margin-top: -20px;
  }
  .genre-first h2 {
    font-size: clamp(3em, 16.6vw, 26vw);
    left: 0;
    top: -0.5em;
  }
  .wrapper-type {
    bottom: 3em;
  }
}

@media screen and (max-width: 630px) {
  .genre-first h2 {
    letter-spacing: 20px;
    text-align: center;
    padding-left: 0.19em;
  }
}
