.spinner-parent-container {
  position: absolute;
  z-index: 10;
  min-width: 7.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.spinner-container .dot {
  flex: 0 0 0.76em;
  height: 0.76em;
  border-radius: 50%;
  transform: translateY(0);
  animation: loading-spinner 3.4s linear calc(var(--i) * 0.5s) infinite reverse;
  opacity: 0;
  background: var(--color);
}

@keyframes loading-spinner {
  75% {
    opacity: 1;
    box-shadow: 0 0 40px var(--color);
  }
  80% {
    opacity: 0;
  }
  100% {
    box-shadow: none;
  }
}

.hold-tight {
  color: rgb(138, 135, 135);
  font-size: 0.87em;
  transform: translateY(0.9em);
}
