@use "/Style/GlobalStyle/main" as m;

.inner-root-container {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding-bottom: m.$padding-medium * 4;
}
.container1 {
    height: 108vh;
    position: relative;
    z-index: 1;
}
