// * margin ---

$base-margin: 1em;
$margin-medium: $base-margin * 4;
$margin-extra: $base-margin * 8;
$center-horizontal: 0 auto;

//* paddiing ---

$base-padding: 1em;
$padding-medium: $base-padding * 4;
$padding-extra: $base-padding * 8;

//* background colors -----

$bg-primary: #1d1d1d;
