.go-back {
  color: white;
  font-size: 1.1em;
  display: inline-block;
  position: relative;
  top: 3.5em;
  left: 10%;
  overflow: hidden;
}
ion-icon {
  font-size: 1.3em;
  margin-left: -22px;
  transition: margin 0.5s;
  transform: translateY(25%);
}
.go-back-text {
  color: white;
  text-decoration: none;
}
.go-back:hover ion-icon {
  margin: 0;
}

.inner-container {
  width: 75%;
  height: auto;
  margin: 140px auto;
  margin-bottom: 0;
}
.inner-container .pic-header {
  background: #265077;
  height: 130px;
  width: 110%;
  position: relative;
  transform: translate(-4.5%);
}
.inner-container .pic-header .pic-container {
  width: 10em;
  height: 12em;
  scale: 1.1;
  position: absolute;
  top: -2em;
  left: 2em;
  overflow: hidden;
  box-shadow: 0 0 20px #000000c6;
}
.inner-container .pic-header .pic-container .anime-type {
  position: absolute;
  color: white;
  background-color: #94d22f;
  min-width: 5em;
  rotate: -40deg;
  left: -1em;
  top: 0.5em;
  text-align: center;
  padding: 0.04em;
  font-weight: 700;
  box-shadow: 0 0 20px #120404a2;
  letter-spacing: 0.14em;
}
.inner-container .pic-header .pic-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.inner-container .pic-header .title-container {
  position: absolute;
  top: 13px;
  right: 4%;
  width: auto;
  height: auto;
  padding-left: 35%;
}
.inner-container .pic-header .title {
  font-size: 1.75em;

  color: #ee4c7c;
  text-align: center;
}

.inner-container .pic-header .title-english {
  margin-top: 15px;
  font-size: 1em;
  color: #e3afbc;
  text-align: center;
}
.inner-container .stats {
  list-style-type: none;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 8.7em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-flow: wrap;
}
.inner-container .stats li {
  color: white;
  flex: 0 0 auto;
  text-align: center;
  background: #314455;
  font-size: 0.94em;
  padding: 0.45em 0.7em;
  border-radius: 0.6em;
}
.inner-container .stats .add-to-list {
  background: transparent;
}
.inner-container .stats .add-to-list button {
  outline: none;
  border: none;
  padding: 0.42em 0.67em;
  background: #802bb1;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transform: scale(1, 1);
  border-radius: 0.44em;
}
.inner-container .stats .add-to-list button i {
  margin-right: 0.4em;
}
@keyframes btnanime {
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

.inner-container h4 {
  color: white;
  font-size: 25px;
  text-transform: capitalize;

  margin: 2em 0 24px 2.5%;

  border-left: 5px solid red;
  letter-spacing: 2px;
}
.inner-container .description,
.aired p {
  color: white;
  font-size: 0.87em;
  padding: 0 2%;
  line-height: 22px;
}
.genres {
  margin-left: 2%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 0.6em;
}
.genres li {
  color: white;
  min-width: 5em;
  text-align: center;
  padding: 0.45em 1.2em;
  background: #314455;
  border-radius: 0.6em;
}
.aired {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  gap: 15px;
}

.aired p:nth-child(2) {
  background: #314455;
  border-radius: 0.6em;
  min-width: 5em;
  text-align: center;
  padding: 0.55em 1.2em;
}

.stats-watching {
  margin-left: 2%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 1vw;
}
.stats-watching li {
  color: white;

  background: #314455;
  border-radius: 0.6em;
  min-width: 5em;
  text-align: center;
  padding: 0.55em 1em;
}

/*  //* Roles/character container starts ------------ */

.characters-container {
  margin-top: 2em;
  max-width: 61.9em;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-left: 15%;
}
.characters-container .characters-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 100%;
  min-width: min-content;
  height: auto;
  gap: 0.7em;
  margin-top: 20px;
}
.characters-container button {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 0.85em;
  min-width: 8em;
  padding: 0.85em 2em;
  background: #f1c40f;
  font-weight: bold;
  display: none;
  box-shadow: 0 0 36px 20px black;
  cursor: pointer;
}

.empty-for-no-reason {
  margin-top: 10px;
  height: 40px;
}

/* //* Comments --------- */

.comments-counter {
  color: white;

  margin: 1em auto;
  font-size: 1.25em;
  width: clamp(35vmax, 66vw, 80%);
}
.comment-box-container {
  min-height: 21em;
  width: 80%;
  margin: 0 auto;
}
.comment-box-container .comments-login-text {
  padding: 0.7em;
  color: white;
  text-align: center;
  margin-bottom: 4em;
}
.comment-box-container .comments-login-text a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid yellow;
}
.comment-input-container {
  margin: 3.6em auto 7em auto;
  position: relative;
  width: clamp(35vmax, 66vw, 80%);
}
#comment {
  display: block;
  outline: none;
  border: none;
  border-bottom: 3px solid rgb(126, 126, 248);
  background: transparent;
  width: 100%;
  color: rgba(234, 228, 228, 0.93);
  font-size: 1.05em;
  padding-left: 0.2em;
}

#comment::placeholder {
  color: #ffffffb7;
}
.comment-input-container .cancel {
  border: none;
  outline: none;
  padding: 0.4em 0;
  margin-top: 1em;
  position: absolute;
  right: 9.5em;
  font-size: 0.9em;
  background: transparent;
  cursor: pointer;
  color: white;
}
.comment-input-container button[type="submit"] {
  border: none;
  outline: none;
  padding: 0.6em 1.5em;
  margin-top: 1em;
  position: absolute;
  right: 1.5em;
  background: lightblue;
  border-radius: 0.7vmin;
  cursor: pointer;
}
.comment-input-container button[type="submit"]:hover {
  background-color: #cbebf5;
}

.comments {
  margin: 0 auto;
  width: clamp(35vmax, 66vw, 80%);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comments p {
  color: rgba(255, 255, 255, 0.387);
  text-align: center;
  padding: 1.5em;
}

.comments .comments-inner {
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding-top: 3em;
}
.item-container {
  min-height: 5.5em;
  display: flex;
  width: 100%;
  gap: 0.76em;
}
.item-container .user-profile-img-container {
  flex: 0 0 2.5em;
}
.item-container .user-profile-img-container img {
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.item-container .body-container {
  /* outline: 3px solid red; */
  width: clamp(100%, calc(100% - 5em), 100%);
  color: white;
}
.item-container .body-container p {
  color: white;
  margin: 0.7em 0;
  text-align: start;
  padding: 0 1.5em 0 0.45em;
  font-size: 0.94em;
  margin-bottom: 0.9em;
}
.item-container .body-container .username-container {
  margin-left: 0.45em;
}
.item-container .body-container .username-container span:nth-child(1) a {
  font-size: clamp(0.78rem, 0.96em, 1.3em);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.item-container .body-container .username-container span:nth-child(2) {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 0.4em;
}
.extra-features {
  margin-left: 0.45em;
  display: flex;
  gap: 0.6em;
}

.extra-features ion-icon {
  font-size: 1em;
  transform: translate(0);
  margin: 0;
}
.extra-features .counter {
  margin: 0em 0em 0em -0.5em !important;
  font-size: 0.9em !important;
  transform: translate(0) !important;
}

@media screen and (max-width: 720px) {
  .characters-container {
    margin: 0 auto !important;
  }
  .characters-container .characters-container-inner {
    justify-content: center;
  }

  .inner-container .pic-header .pic-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .inner-container .pic-header .title-container {
    position: static;
    translate: 0 12em;
    padding: 0;
  }
  .inner-container .stats {
    margin-top: 250px;
    margin-bottom: 20px;
    height: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .stats-watching {
    gap: 2vw;
  }
  .stats-watching li {
    font-size: 3.8vw;
  }
}
