@use "/Style/GlobalStyle/main" as bp;

.smallnav {
  height: 100vh;
  opacity: 0;
  z-index: 11;
  position: fixed;
  width: 0;
  transition: all 0.24s 1.7s;
  &.toggle {
    opacity: 1;
    width: 100%;
    transition: none;
  }
  ion-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 3rem;

    color: white;
    z-index: 15;
    // opacity: 0;
    transition: all 0s 0.6s;
  }
  .smallnav-parts-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    .parts {
      flex: 0 0 25.5%;
      position: relative;
      top: -1400px;
      z-index: 4;
    }
    .part-1 {
      background: white;
      $index: 1;
      &.animate {
        animation: anime-parts 0.5s $index * 0.1s 1 forwards,
          anime-parts-color 1s $index * 0.2s 1 forwards;
      }
      &.anime-default {
        animation: anime-parts-reverse 1.5s $index * 0.1s;
        animation-fill-mode: forwards;
      }
    }
    .part-2 {
      background: red;
      $index: 2;
      &.animate {
        animation: anime-parts 0.5s $index * 0.1s 1 forwards,
          anime-parts-color 1s $index * 0.2s 1 forwards;
      }
      &.anime-default {
        animation: anime-parts-reverse 1.5s $index * 0.1s;
        animation-fill-mode: forwards;
      }
    }
    .part-3 {
      background: rgb(16, 173, 16);
      $index: 3;
      &.animate {
        animation: anime-parts 0.5s $index * 0.1s 1 forwards,
          anime-parts-color 1s $index * 0.2s 1 forwards;
      }
      &.anime-default {
        animation: anime-parts-reverse 1.5s $index * 0.1s;
        animation-fill-mode: forwards;
      }
    }
    .part-4 {
      background: yellow;
      $index: 4;
      &.animate {
        animation: anime-parts 0.5s $index * 0.1s 1 forwards,
          anime-parts-color 1s $index * 0.2s 1 forwards;
      }
      &.anime-default {
        animation: anime-parts-reverse 1.5s $index * 0.1s;
        animation-fill-mode: forwards;
      }
    }
    // .anime-default {
    //   animation: anime-parts-reverse 1.5s calc(var(--i) * 0.1s);
    //   animation-fill-mode: forwards;
    // }
  }

  .smallnav-nav-container {
    width: 75%;
    visibility: hidden;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    min-height: 65%;
    transition: visibility 1s linear;
    &.active {
      animation: visibility 1s linear 0.4s 1 forwards;
    }

    .user-details-container {
      position: absolute;
      top: -40%;
      left: 50%;
      transform: translateX(-50%);
      min-height: 10em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 30em;
    }
    .smallnav-nav {
      width: 85%;
      margin: 30px auto;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20%;

      .signup-sm {
        @include bp.breakpoint(740px) {
          min-width: 5em;
          text-align: center;
          background: #e89a0a;
          padding: 0.7em 3.3em;
          text-decoration: none;
          color: white;
          border-radius: 0.3em;
        }
      }

      h4 {
        font-weight: lighter;
        color: white;
        transform: translateY(2em);
        text-align: center;
      }
      .navlink {
        text-decoration: none;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: 150px;
        padding: 2%;
        color: white;
        border-bottom: 3px solid beige;
        min-height: 35px;
        transition: all 0.5s;

        &:hover {
          background: white;
          color: black;
        }
      }
    }
    .smallnav-userlist {
      text-align: center;
      color: #90cecf;
      h3 {
        font-family: "Luckiest Guy", cursive;
        letter-spacing: 3px;
        margin-bottom: 3%;
      }
      .smallnav-list-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

@keyframes anime-parts-color {
  100% {
    background: #361556;
  }
}
@keyframes anime-parts {
  100% {
    top: 0;
  }
}

@keyframes anime-parts-reverse {
  0% {
    top: 0;
  }
  100% {
    top: -1400px;
  }
}

@keyframes visibility {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
