@use "/Style/GlobalStyle/main" as m;

.nav-container {
    width: 100%;
    height: 4.5em;

    position: relative;
    background-color: transparent;
    z-index: 5;
    transition: 300ms ease-out;

    .nav-scroll-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .scrolling {
        background-color: #00000060;
        backdrop-filter: blur(10px);
    }

    .logo-container {
        color: white;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 1.5em;
        transform: translateY(-50%);
        width: 13em;
        transition: 300ms ease-out;

        .logo {
            width: 100%;
        }

        &.sticky {
            width: 11.4em;
        }
    }

    ul {
        color: #d1d7e0;
        width: auto;
        position: absolute;
        right: 12em;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 3em;

        @include m.breakpoint(740px) {
            display: none;
        }

        nav {
            position: relative;
            padding: 5px;
            .link {
                text-decoration: none;
                color: #d1d7e0;
                font-family: "Inter", sans-serif !important;
            }
            &:hover {
                .link {
                    color: white;
                    filter: drop-shadow(0 0 20px white);
                }
            }
        }
        .bottom-border {
            background: rgb(255, 255, 11);

            height: 0.2rem;
            position: absolute;
            bottom: 0;
            display: none;
            transition: left 400ms ease;
            left: 0;
        }
    }
    #menu {
        position: absolute;
        right: 6%;
        top: 50%;
        // width: 30px;
        translate: 0 -50%;
        color: white;
        font-size: 2rem;
        opacity: 1;
        z-index: 9;
        @include m.breakpoint(740px) {
            opacity: 1;
        }
    }
    .toggle-style-ham {
        opacity: 0;
    }
    .signup {
        position: absolute;
        right: 3.5em;
        top: 50%;
        transform: translate(0, -50%);
        min-width: 4em;
        color: white;
        text-align: center;
        font-size: 0.95em;
        z-index: 2;
        padding: 0.45em 1.35em;
        text-decoration: none;
        background: rgba(244, 200, 117, 0.135);
        border-radius: 0.2em;
        font-family: "Inter", sans-serif !important;
        transition: background 300ms ease;

        &:hover {
            background-color: m.$cl-dark-orange;
        }
    }
    .user {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translate(0, -50%);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        font-size: 23px;
        z-index: 2;
        overflow: hidden;
        border: 2px solid yellow;
        cursor: pointer;
        @include m.breakpoint(740px) {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    .yourlist {
        width: m.$width-large * 1.6;
        height: 0px;
        position: absolute;
        right: 1em;
        // top: 60px;
        top: 100%;
        // bottom: 0;
        z-index: 11;
        overflow: hidden;
        transition: 0.1s;
        background: lighten($color: m.$bg-primary, $amount: 12%);
        // filter: drop-shadow(0 0 20px #00000087);
        border-radius: 0.2em;

        @include m.breakpoint(740px) {
            display: none;
        }
        .user-name {
            font-size: m.$fontSize-base * 1.04;
            padding: 0.6em;
            color: lighten($color: #127570, $amount: 20%);
            font-family: sans-serif;
            letter-spacing: 0.15em;
            margin-top: 0.5em;
            margin-bottom: m.$base-margin;
            text-align: center;
        }
        .user-status {
            font-size: m.$fontSize-base / 2;
            padding: 0.6em 40px;
            border: 2px solid #a2aa0c4a;
            color: yellowgreen;
            font-family: sans-serif;
            letter-spacing: 0.15em;
            margin: 0.5em 0;
            display: inline-block;
        }

        .your-anime {
            width: 100%;

            color: white;
            font-size: m.$fontSize-base / 1.05;
            text-decoration: none;
            text-align: start;
            padding: m.$base-padding / 2 0;
            padding-left: 1rem;
            background: transparent;
            cursor: pointer;
            display: block;

            &:hover {
                background-color: m.$cl-dark-orange;
            }
        }
        .list-links-wrapper {
            margin-bottom: m.$base-margin * 2;
            .label {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.3rem;
                margin-bottom: m.$base-margin / 2;
                .line {
                    height: 1px;
                    width: 33.3%;

                    background-color: m.$cl-light-black;
                }

                h4 {
                    color: m.$cl-light-black;
                    font-weight: lighter;
                    font-size: m.$fontSize-base / 1.1;
                }
            }
        }
        .sign-out {
            min-width: 2em;
            cursor: pointer;

            z-index: 15;
            border: none;
            outline: none;
            padding: m.$base-padding / 1.4 m.$base-padding * 2;
            border-radius: 0.3rem;
            margin: m.$center-horizontal;
            margin-top: m.$base-margin * 2;
            margin-bottom: m.$base-margin;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.59rem;
            color: white;
            background: #d31616;

            p {
                font-size: 1.16em;
            }
            ion-icon {
                font-size: 1.2rem;
            }
            &:hover {
                background: transparent;
                outline: 1px solid red;
            }
        }
    }
}
.sticky {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    height: 3.2rem;
}
