.header {
    text-align: center;

    margin-top: 23vh;
    margin-bottom: 90px;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}
.option-container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    height: 40px;
    margin-bottom: 20px;
    z-index: -2;
}

.clr-btn {
    display: block;
    position: absolute;
    right: 20px;

    top: 50%;
    border: none;
    outline: none;
    width: 89px;
    height: 25px;
    border-radius: 3px;
    background: #e94b3cff;
    color: white;
    text-align: center;
    font-size: 0.85em;
    padding: 5px;
    transition: 0.2s;
    overflow: hidden;
    transform: translateY(-50%);
}
.clr-btn span {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-out;
}
.clr-btn span:nth-child(1) {
    left: -100%;
}

.clr-btn:hover {
    background: #990011ff;
}
.clr-btn:hover span:nth-child(1) {
    left: 12%;
}
.clr-btn:hover span:nth-child(2) {
    left: 55%;
}
.header::before {
    content: "";
    position: absolute;
    width: 102%;
    height: 4px;
    background: rgba(255, 255, 8, 0.973);
    bottom: 0;
    left: 0;
    right: 0;
}
.search-container {
    width: 89%;

    min-height: 24em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 auto;
    background: #a1a1c408;
    gap: 10px;

    position: relative;
    z-index: -33;
    margin-bottom: 5em;
    align-items: center;
}
.search-container .groups {
    width: 100%;
}

.search-container .items-container {
    width: 100%;
}

.search-container a {
    height: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: 600% 600%;
    /* overflow: hidden; */
    transition: all 0.2s;
    width: 100%;
}
.search-container a .img-container {
    width: 85px;
    height: 100%;
}
.search-container a .img-container img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
.search-container a:hover {
    background: #e0e0f741;
}
.search-container a:hover .img-container img {
    box-shadow: 0 0px 15px #18161697;
    transform: scale(1.45);
}

.search-container a .details {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: 600% 600%;
    position: relative;
    justify-content: space-between;
}
.search-container a:nth-child(2n + 1) .details {
    background: #a1a1c415;
}
.search-container a .details .title {
    width: 57%;
    margin-left: 3%;
}
.search-container a .details .stats {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;

    width: 26em;
}
.search-container a .details .stats > div {
    height: 100%;
    flex: 1 1 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container a .details .stats h4 {
    text-align: center;
}
.search-container a:hover .details {
    animation-name: anime-list-item;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.empty {
    font-size: 1.06em;
    position: absolute;
    font-family: "Franklin Gothic light", "Arial Narrow", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.13em;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(119, 136, 153, 0.486);
}

.thats-it {
    color: #e4e1ff7e;
    font-family: sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 0.935em;
}

@keyframes anime-list-item {
    0% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 50% 90%;
    }
    100% {
        background-position: 10% 0%;
    }
}

@media screen and (max-width: 800px) {
    .search-container a .details {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .search-container a .details .title {
        text-align: center;
        height: 30px;
    }
}
@media screen and (max-width: 450px) {
    .search-container a .img-container {
        width: 120px;
        height: 100%;
    }
    .search-container a .details {
        width: 400px;

        font-size: 2.9vw;
    }
    .search-container a .details .title {
        text-align: center;
        height: 30px;
        width: 200px;
    }
    .search-container a .details .stats h4 {
        width: 70px;
    }
}
