@use "/Style/GlobalStyle/main" as m;

.home-section-2 {
  height: auto;
  margin-bottom: 3em;
  .flex-container {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    @include m.breakpoint(892px) {
      gap: 0vh;
    }

    .site-info-container {
      display: flex;
      align-items: center;
      height: 23em;

      @include m.breakpoint(892px) {
        flex-direction: column-reverse;
        gap: 1em;
        height: auto !important;
      }

      .line-separator {
        width: 0.2em;
        height: 24em;
        background-color: #3c3c3c;
        position: relative;

        @include m.breakpoint(892px) {
          height: 10em !important;
          order: 1;
          background: linear-gradient(
            to top,
            m.$bg-primary-light 54%,
            transparent 93%
          );
        }

        &::before {
          content: "";
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translateX(-50%);
          width: 0.7em;
          height: 0.7em;
          border-radius: 50%;
          border: 3px solid #3c3c3c;
          background: m.$bg-primary;

          @include m.breakpoint(892px) {
            top: 100%;
          }
        }
      }
      .line-separator-1 {
        height: 44em;
        background: linear-gradient(
          to top,
          m.$bg-primary-light 54%,
          transparent 93%
        );
      }

      .visual-content {
        width: 60%;
        height: 20em;
        transform-style: preserve-3d;
        position: relative;
        z-index: 4;
        overflow: hidden;

        @include m.breakpoint(892px) {
          width: 100%;
        }

        img {
          width: clamp(10em, 33em, 100%);
          max-height: 105%;
          aspect-ratio: 16/9;
          transform: translate(-50%, -50%) scale(80%);
          position: absolute;
          z-index: 3;
          left: 50%;
          top: 50%;
          object-fit: fill;
          outline: 4px solid #f3f33f73;
        }
        .character-section-img {
          top: 45% !important;
          left: 42% !important;
          z-index: -2 !important;
        }
        .anime-section-img {
          left: 55% !important;
        }
        .addto-list-gif {
          outline: none !important ;
          transform: translate(-50%, -50%) scale(90%) !important;
        }

        .github-image {
          outline: none !important;
          width: auto !important;
          aspect-ratio: 4/3 !important;
          transform: translate(-50%, -50%) scale(275%) !important;
        }
      }

      .information {
        color: #aeaeae;
        width: 50%;
        padding-inline: 2.5em;
        line-height: 1.8em;

        @include m.breakpoint(892px) {
          text-align: center;
          width: 100%;
        }

        h3 {
          text-align: start;
          font-size: 1.49rem;
          line-height: 3.5rem;
          padding: 0 !important;

          @include m.breakpoint(892px) {
            text-align: center;
          }
        }
        span {
          text-decoration: none;
          margin-left: 0.2em;
          color: m.$cl-yellow-light;
        }
        a {
          text-decoration: none;
          margin-right: 0.5em;
          color: m.$cl-yellow-light;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
