.home-section-2 {
  height: auto;
  margin-bottom: 3em;
}
.home-section-2 .flex-container {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.flex-container .site-info-container {
  display: flex;
  align-items: center;
  height: 23em;
}

.line-separator {
  width: 0.2em;
  height: 24em;
  background-color: #3c3c3c;
  position: relative;
}
.line-separator::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  border: 3px solid #3c3c3c;
  background: var(--bg-primary);
}
.line-separator-1 {
  height: 44em;
  background: linear-gradient(to top, #3c3c3c 54%, transparent 93%);
}

.visual-content {
  width: 60%;
  height: 20em;
  transform-style: preserve-3d;
  position: relative;
  z-index: 4;
  overflow: hidden;
}
.visual-content img {
  width: clamp(10em, 33em, 100%);
  max-height: 105%;
  aspect-ratio: 16/9;
  transform: translate(-50%, -50%) scale(80%);
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  object-fit: fill;
  outline: 4px solid #f3f33f73;
}
.character-section-img {
  top: 45% !important;
  left: 42% !important;
  z-index: -2 !important;
}
.anime-section-img {
  left: 55% !important;
}

.information {
  color: #aeaeae;
  width: 50%;
  padding-inline: 2.5em;
  line-height: 1.8em;
}
.information h3 {
  text-align: start;
  font-size: 1.49rem;
  line-height: 3.5rem;
  padding: 0 !important;
}

.information span {
  text-decoration: none;
  margin-left: 0.2em;
  color: #fdfd71;
}
.information a {
  text-decoration: none;
  margin-right: 0.5em;
  color: #fdfd71;
}
.information a:hover {
  color: white;
}
.addto-list-gif {
  outline: none !important ;
  transform: translate(-50%, -50%) scale(90%) !important;
}

.github-image {
  outline: none !important;
  width: auto !important;
  aspect-ratio: 4/3 !important;
  transform: translate(-50%, -50%) scale(275%) !important;
}
