@use "/Style/GlobalStyle/main" as m;

.main-container {
    flex: 0 0 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.4em;
    margin-top: -(m.$base-margin + 6);
    .title1 {
        position: relative;

        color: white;
        font-size: clamp(3em, 6vw, m.$fontSize-lg + 0.5em);

        text-align: center;
    }
    .info1 {
        color: white;
        font-size: 1.5em;
        padding: 0 m.$base-padding / 1.5;
        text-align: center;

        @include m.md {
            font-size: 3.67vw;
        }
    }

    .wrapper {
        width: m.$width-extra * 2.3;

        overflow: hidden;
        animation-name: wrapperanime;
        animation-duration: 0.25s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        transform: translateY(20px);
        position: relative;

        ion-icon {
            position: absolute;
            z-index: 3;
            left: 0.5rem;
            top: 50%;
            translate: 0 -50%;
            font-size: m.$fontSize-base * 1.3;
        }
        @include m.md {
            width: 75vw;
        }

        #search {
            width: 100%;
            height: m.$base-height * 2.3;
            border-radius: 0.44rem;
            font-size: 1.2em;
            padding-left: m.$base-padding * 2;
            outline: none;
            border: none;

            background: white;

            &::placeholder {
                font-size: 18px;

                opacity: 0.75;
            }
        }

        .search-result-container {
            width: 100%;
            min-height: 10em;
            translate: 0 -0.34rem;
            // transform: translateY(5px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            background: white;
            border-radius: 0 0 0.44rem 0.44rem;
            .search-result {
                width: 100%;

                background: white;
                height: 4.3em;
                display: flex;
                justify-content: flex-start;
                // align-items: center;
                position: relative;

                &:hover {
                    background: #e2e2e2;
                }

                h5 {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin: 0 auto;
                    padding: 5% 0;
                    padding-left: m.$base-padding / 1.5;
                    padding-right: m.$base-padding;
                    flex: 1 1 auto;
                }

                .img-container {
                    flex: 0 0 m.$width-large + 1;
                    height: 100%;
                    scale: 0.9;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 130%;
                    }
                }
            }
            a {
                width: 100%;
                text-decoration: none;
                display: block;
                color: black;
            }
            .loading {
                margin: 1.5em 0;
            }
        }

        .search-result-container-toggle {
            min-height: 0;
            overflow: hidden;
        }
    }
}

@keyframes wrapperanime {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}
